#dynamic-toolbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.view-button {
    width: 100%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    background-color: #947924;
    color: #FDBE02;
    text-decoration: underline overline;
    
}