.normal {
    font-weight: bold;
}

.button {
    background-color: #909384;
    padding: 4px;
}

.dim {
    opacity: 40%;
}

table {
    padding: 10px;
}

table, th {
    border: 2px solid black;
}

td {
    border: 1px solid #ff18a0;
    text-align: center;
}

span {
    font-size: 28pt;
}